/* main color #75757 */
/* secondary color #212121 */
/* white #FFFFFF */
/* accent #2196F3 */
/* background main #FFFFFF */
/* background secondary #F5F4FA */
/*background Эффективные решения для вашего бизнеса #2F303A*/

:root {
  --primary-text-color: #75757;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --background-second-color: #f5f4fa;
}
.body {
  font-family: Roboto;
  font-style: normal;
  letter-spacing: 0.03em;
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}
ul {
  list-style: none;
}
/*Шапка сайта*/
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  /* identical to box height */
  color: var(--title-text-color);
  text-decoration: none;
}
.logo:hover,
.logo:focus {
  color: var(--accent-color);
}
.accent-logo {
  color: var(--accent-color);
}
.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--title-text-color);
}
.link:hover,
.link:focus {
  color: var(--accent-color);
}

/*секция hero*/
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  background-color: var(--title-text-color);
  color: var(--primary-white-color);
}
.button-hero {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

/*секция benefits*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list .title {
  text-transform: uppercase;
}

/*секция our-work*/

/*секция team*/
.team .title {
  color: var(--title-text-color);
}

.section-title {
  color: var(--title-text-color);
  text-align: center;
}
.feature-list .title {
  color: var(--title-text-color);
}

/*кнопки навигации портфолио*/
.portfolio-nav .button {
  font-family: inherit;
  background-color: var(--background-second-color);
  color: var(--title-text-color);
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.portfolio-nav .button:hover,
.portfolio-nav .button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/*секция картинок-ссылок*/
.project .title-project {
  color: var(--title-text-color);
}
